<html>
	<form action="http://localhost:3000/users" method="post">
    <label for="user_name">Name</label><br />
    <input id="user_name" name="user[name]" size="30" type="text" />


    <label for="user_password">Password</label><br />
    <input id="user_password" name="user[password]" size="30" type="text" />


    <label for="user_date_of_birth">Date of birth</label><br />
    <input id="user_date_of_birth" name="user[date_of_birth]" size="30" type="text" />


    <input name="commit" type="submit" value="Create User" />

</form>
</html>
